

<!DOCTYPE html>

<html>

<body>
  <% if @operation == "add" %>
    <p><%= @num1 + @num2 %></p>
  <% if @operation == "subtract" %>
    <p><%= @num1 - @num2 %></p>
  <% if @operation == "multiply" %>
    <p><%= @num1 * @num2 %></p>
  <% if @operation == "divide" %>
    <p><%= @num1 / @num2 %></p>
  <% else %>
    <p>yerrrrrrrrrr</p>
  <% end %>

</body>

</html>
